/source/__history
/samples/DelphiXE5/HelloWorld GUI - Copy
/samples/DelphiXE5/HelloWorld - Copy
/samples/Commons/__history
*.identcache
*.stat
/samples/DelphiXE5/TODOManager SQLite/Win32/Debug/*.log
/samples/DelphiXE5/TODOManager SQLite/Win32/Debug/*.exe
/samples/DelphiXE5/TODOManager SQLite/Win32/Debug/dcu
/samples/DelphiXE5/TODOManager SQLite/__history
/samples/DelphiXE5/TODOManager SQLite/__recovery
/samples/DelphiXE5 - Copy
/samples/DelphiXE5/HelloWorld SQLite/Win32
/samples/DelphiXE5/HelloWorld SQLite/__history
/samples/DelphiXE5/HelloWorld SQLite/Bin
/samples/DelphiXE5/HelloWorld SQLite/*.skincfg
/samples/DelphiXE5/TODOManager SQLite/*.skincfg
