/samples/DelphiXE5/HelloWorld GUI - Copy
/samples/DelphiXE5/HelloWorld - Copy
*.identcache
*.stat
/samples/DelphiXE5 - Copy
/samples/DelphiXE5/HelloWorld SQLite/Win32
/samples/DelphiXE5/HelloWorld SQLite/Bin
/samples/DelphiXE5/HelloWorld/Win32/FirebirdUIB
/samples/DelphiXE5/HelloWorldLists/Win32/FirebirdUIB
**/__history
**/__recovery
**/dcu
**/*.dproj.local
**/*.skincfg
**/*.exe
**/*.log